[submodule "lib/urban-airship"]
	path = lib/urban-airship
	url = git://github.com/urbanairship/php-library.git
[submodule "lib/settings-api-class"]
	path = lib/settings-api-class
	url = git://github.com/tareq1988/wordpress-settings-api-class.git
